body, .act, #shell, select, #actForm {background-color: #1E1F23; } /*main background*/
#wlis,#plis {background-color: #333437} /*list background*/
.lis {background-color: #3E3F43;} /*search background*/
.selParent {background-color: #2069A1; } /*list background selected*/
.selParent dt {color:#EEEEEE;}
.selParent dd {color:#C3C3C3;}
.nav {background-color: #353944;} /*nav background*/
#wnav li, #wnav li a, #ribbon .nav, #search {color: #B4B5B6}
dt, h2 {color: #BCBDC0}
dd, h5,#problem,#report {color: #6F7074}
#userid strong {color: #0987FF}
dl span {color:white}
.actInput, select {color:#7E828F}
#navSelected {background-color: #3F4452}
#report:active {background-color:#303134}
#ribbon .act, .lis {border-color: #1A1A1B}
dl, #plis .row {border-color: #38393D;}
#plis {border-color:#454648;}
#ribbon .nav {border-bottom-color: #3D414E; border-right-color: #333437; }
#ribbon .lis {border-bottom-color: #434447;border-right-color:#1E1F23}
hr, #actForm .row {border-color:#1F2025}
.label{color: #40424A;}
::-webkit-input-placeholder, :-moz-placeholder,::-moz-placeholder, :-ms-input-placeholder  {color: #bfbfbf}