html {
	-ms-overflow-style: -ms-autohiding-scrollbar;
	-webkit-tap-highlight-color: transparent;
}
body,
h2,
h5,
select,
ul {
	margin: 0;
	padding: 0
}
a,
input,
select {
	outline: 0
}
a:active{
	background-color: transparent
}
#wnav li,
li {
	list-style: none
}
#actions img,
#userid strong,
dd,
dt {
	cursor: pointer
}
body {
	font-family: SFNSText, 'Helvetica Neue', sans-serif;
	overflow: hidden
}
#header {
	width:100%;
	overflow:hidden;
}
#header img {
	display:none;
	cursor:pointer;
}
.left {
	float: left
}
.right {
	float: right
}
input {
	border: none
}
input[type=password],
input[type=button],
input[type=text] {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	border-radius: 0
}
input[type=file],
select {
	border: none
}
select {
	font-size: 16px;
	-webkit-appearance: none;
	-moz-appearance: none
}
#search,
.group {
	margin-top: 10px;
}
select::-ms-expand {
	display: none
}
a {
	text-decoration: none
}
::-ms-clear {
	display: none
}
:disabled {
	color: #373737
}
.noSelectText {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}
.act {
	width: 100%;
	margin-left: -50%;
}
.nav {
	width: 19.73%;
}
.lis {
	width: 30%;
}
.actw {
	margin-left: 50%
}
.pad {
	margin: 14px 10px;
	display: block
}
.nav .pad {
	font-size:16px!important;
}
#menuButton, #backButton{display:none}
#save,
#userid img {
	display: block
}
::-webkit-scrollbar {display: none;}
.scroll {
	overflow: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	scrollbar-width: none;
	scrollbar-base-color: #fff;
	scrollbar-face-color: #fff;
	scrollbar-highlight-color: #fff;
	scrollbar-3dlight-color: #fff;
	scrollbar-shadow-color: #fff;
	scrollbar-darkshadow-color: #fff;
	scrollbar-track-color: #fff;
	scrollbar-arrow-color: #fff
}
.row,
.wrapper {
	overflow: hidden
}
h2,
h5,
hr {
	padding: 0
}
#ribbon .act,
#ribbon .lis,
#ribbon .nav {
	height: 44px;
}
#ribbon .nav {
	font-size: 21px;
	font-weight: 300;
}

#view .act,
#view .lis,
#view .nav {
	height: 95%;
	overflow: hidden
}
#search {
	font-size: 19px;
	background-color: transparent;
	width: 85%;
}
#magnify {
	width: 36px;
	height: 42px
}
#mobileCompose {display:none}
.group {
	font-weight: 500
}
dd,
dl,
dt,
hr {
	margin: 0
}
#wnav li {
	padding: 2px 10px 4px;
	font-size: 21px;
	font-weight: 300;
}
.group {
	font-size: 16px!important;
}

#wnav li a {
	padding-left: 20px;
}
#wnav {
	font-weight: lighter
}

dl {
	font-size: 17px;
	padding: 10px;
}
#problem,
#userid strong,
dt {
	font-size: 21px
}

dt {
	font-weight: 500;
}
.normal {
	font-weight: 400
}
dl span {
	font-weight: bolder
}
#problem,
#userid strong,
h2 {
	font-weight: 300
}


.selChild {
	color: #fff
}
#problem {
	margin-right: 5%;
	text-align: center;
	line-height: 25px;
	height: 100%;
	padding: 45% 2% 0
}
#report {
	padding:5px 15px;
	border:solid 1px;
}
#wlis .waste,
#wnav .waste {
	height: 100px
}
#actForm{
	margin:0;
}
#actForm,
#wlis,#wnav{
	height:100%;
}
#wnav{
	width:500px;
}
#actForm .waste {
	height: 20px
}
#plis{
	height:50%;
}
#pinned {
	height:85%;
}
#pinAct{
	color:#287bd4;
	text-align:right;
	font-size:21px;
	padding:10px 30px;
}
#pinAct span {cursor:pointer}
#actions img {
	margin-left: 5px
}
#userid strong {
	display: block;
	margin: 10px 30px 10px 10px;
}
.actInput {
	background-color: transparent
}
.actInput,
.row {
	font-size: 17px
}
hr {
	border: 0;
	height: 0;
}
.row {
	width: 100%;
	padding: 8px 16px 5px;
}
.label {
	margin-right: 9px
}
select, .label {
	line-height: 1.3em;
}
.actInput {
	width: 95%
}

#linechart {padding:20px}

#ribbon .act {border-bottom: solid 1px}
hr {border-bottom: 1px solid}
.row {border-bottom: 1px solid}
#ribbon .nav {border-right: solid 1px}
#ribbon .nav { border-bottom: solid 1px }
dl{border-bottom: solid 1px;}
.lis {border-right: solid 1px}
#ribbon .lis {border-bottom: solid 1px}
#navlogin {display:none}

#loginPop {left:0;top:100px;width:100%;height:100%;background-color:#EEEEEE;position:absolute;z-index:3}
#loginForm {margin: 100px auto;padding:20px 10px;width:300px;border: 1px solid rgba(0,0,0,0.1);background-color:white;text-align:center;}
#loginForm h1{margin:0 0 20px 0;padding:0}
#loginForm input[type="password"], #loginForm input[type="text"] {margin-bottom: -1px;border-bottom-left-radius: 0;border-bottom-right-radius: 0;border: 1px solid #ccc;border-radius:4px;}
#loginForm input {width:90%;font-size:16px;padding:10px;}
#loginForm input[type="text"] {margin-bottom: -1px;border-bottom-left-radius: 0;border-bottom-right-radius: 0;}
#loginForm input[type="password"]{border-top-left-radius: 0;border-top-right-radius: 0;}
#loginForm input[type="button"]{background-color:#0080FD;color:white;margin-bottom:10px;border-radius:6px;cursor:pointer;}

/** Light Theme  **/
body, .act, .actw, #wlis,#plis,#pinned select {background-color:#F6F5F5;} /*background for right header and middle content*/
#shell, #actForm, #actForm select {background-color: #FAFAFA; } /*background for right content */
.nav, .flag {background-color: #E6E5E3;} /*nav background*/
#navSelected {background-color: #CECCC7} /*nav selected*/
.lis {background-color: #F6F5F5;} /*search background*/
.selParent { background-color: #0069D9; } /*list background selected*/
.selParent dt {color:#FEFAEE;}
.selParent dd {color:#89BEFF}
#ribbon .nav, .nav {border-right: solid 1px #B6B2B1}
#ribbon .nav { border-bottom: solid 1px #BCC0CD; }
dl, #plis .row{border-bottom: solid 1px #E7E6E4}
.lis {border-right: solid 1px #d6d6d6}
#ribbon .lis {border-bottom: solid 1px #CCCCCC}
#ribbon .nav {color: #333}
#wnav li {color: #333}
.group {color:#8F8C8B!important}
dd {color: #808080}
dt,#problem,#report {color: #333}
#wnav li a {color: #4F424B}
#ribbon .act {border-bottom: solid 1px #CCCCCC}
hr, #actForm .row {border-bottom: 1px solid #E5E5E5}
#userid strong {color: #287bd4}
.actInput, select {color:#4E5158}
::-webkit-input-placeholder, :-moz-placeholder,::-moz-placeholder, :-ms-input-placeholder  {color: #DFD7D7}
.label{color: #999;}
#plis .label {color:#878FA5}
#pinAct{background-color:#F3F3F3;border-bottom:solid 1px #CAC7C3;border-top:solid 1px #CAC7C3}


@media (max-width: 1024px) {
	#header img {display:block}
}

@media (orientation:portrait) and (min-width: 1024px) {
	#ribbon {display:none}
	dt,dd{font-size:40px}
	dl{padding:20px}
}
@media (max-width: 1024px) and (min-width: 768px) {
	.nav {display:none}
}
@media (orientation:landscape) and (max-width: 1024px) {
	.row div {float:none;display:block}
	.lis {float:left;width: 29.73%;}
	.act {width: 100%;margin-left: -30%;}
	.actw {margin-left:29%}
	#menuButton {display:block;float:left}
	#magnify {display:none}
}

@media (max-width: 768px) {
	.act,.actw {margin-left:0}
	#wlis,.act,.lis,.nav {width: 100%}
	#userid strong,.act,.nav {display: none}
	.row, #lineChart {padding: 8px}
	h2,h5 {margin: 8px}
	body, .act, .actw, #wlis,#plis,#pinned select {background-color:#FFFFFF;} /*background for right header and middle content*/
	#shell, #actForm, #actForm select {background-color: #FFFFFF; } /*background for right content */
	.lis {background-color: #FFFFFF;} /*search background*/
	.nav, .flag {background-color: #FFFFFF;} /*nav background*/
	#navSelected {background-color: #EFEEED} /*nav selected*/
	#loginPop {background-color:#FFFFFF;} /*login pop*/
	.lis,.nav, #ribbon .nav {border: none}
	#search {font-size: 19px;width: 75%}
	#backButton,
	#menuButton,
	#userid img {display: block}
	.row div {float:none;display:block}
	.wrapper * {-webkit-appearance: textfield;padding:0}
	#actions {width:100%}
	#compose, #delete, #update, #link {float:right}
	#search {float:left}
	#menuButton {float:left}
	#magnify {display:none}
	#mobileCompose {display:block}
	#compose {display:none}
	#navLogin {display:block}
	.selParent {background-color:transparent}
	.selParent dt {color:#333;}
	.selParent dd {color:#808080}
	#actForm select {width:95%}
}
@media (max-width: 320px) {#loginForm {width:260px}}
@media (min-height: 800px) {
	.nav .pad {font-size:19px!important;}
	#ribbon .nav {font-size: 21px;}
	#search {font-size: 22px;}
	#wnav li {font-size: 24px;}
	.group {font-size: 19px!important;}
	dl {font-size: 20px;}
	dt {font-size: 24px}
	.actInput,.row {font-size: 20px}
	select {font-size:20px}
}
@media (prefers-color-scheme: dark) {
	body, .act, .actw, #wlis, #plis {background-color:#333437;} /*background for right header and middle content*/
	#shell, #actForm {background-color: #1E1F23; } /*background for right content */
	#actForm select {background-color:#1E1F23}
	.lis {background-color: #3E3F43;} /*search background*/
	.selParent {background-color: #2069A1; } /*list background selected*/
	.nav, .flag, #pinned select {background-color: #353944;} /*nav background*/
	#wnav li, #wnav li a, #ribbon .nav, #search {color: #B4B5B6}
	.group {color:#61687C!important}
	dt, h2 {color: #BCBDC0}
	dd, h5,#problem,#report {color: #6F7074}
	.selParent dt {color:#EEEEEE;}
	.selParent dd {color:#C3C3C3;}
	#userid strong {color: #0987FF}
	dl span {color:white}
	.actInput, select {color:#7E828F}
	#navSelected {background-color: #3F4452}
	#report:active {background-color:#303134}
	#ribbon .act {border-color:#333437}
	.lis {border-color: #1A1A1B}
	dl, #plis .row {border-color: #38393D;}
	#plis {background-color:#353944;}
	#ribbon .nav, .nav {border-bottom-color: #3D414E;border-right: solid 1px #333437}
	#ribbon .lis {border-bottom-color: #434447;border-right-color:#1E1F23}
	hr, #actForm .row {border-color:#1F2025}
	.label{color: #40424A;}
	#plis .label{color: #4D5362;}
	#pinAct {background-color:#3E3F43;border-bottom:solid 1px #434447;border-top:solid 1px #434447}
	::-webkit-input-placeholder, :-moz-placeholder,::-moz-placeholder, :-ms-input-placeholder  {color: #bfbfbf}
	body {background-color:#333437}
	#lineChart img {-webkit-filter: invert(.893);filter: invert(.893);}	
	#loginPop,	#loginForm input[type="text"], #loginForm input[type="password"] {background-color:#46484D;}
	#loginForm input[type="text"], #loginForm input[type="password"] {border-color:#46484D;}
	#loginForm {background-color:#1E1F23;color:#E4E6E7}
}

@media (orientation:portrait) {
	.portrait dl {padding:20px}
	.portrait dt {font-size:38px}
	.portrait dd {font-size:28px}
}
@media (prefers-color-scheme: dark) and (orientation:portrait) {
	.selParent {background-color: #333437; }
	.selParent dt {color:#BCBDC0;}
	.selParent dd {color:#6F7074}
}
@-moz-document url-prefix() {
	.label, select {line-height: 1.4em;}
}
