	#menuButton {display:block;float:left}
	#magnify {display:none}
}

@media (max-width: 768px) {
	.act,.actw {margin-left:0}
	#wlis,.act,.lis,.nav {width: 100%}
	#userid strong,.act,.nav {display: none}
	.row, #lineChart {padding: 8px}
	h2,h5 {margin: 8px}
	body, .act, .actw, #wlis,#plis,#pinned select {background-color:#FFFFFF;} /*background for right header and middle content*/
	#shell, #actForm, #actForm select {background-color: #FFFFFF; } /*background for right content */
	.lis {background-color: #FFFFFF;} /*search background*/
	.nav, .flag {background-color: #FFFFFF;} /*nav background*/
	#navSelected {background-color: #EFEEED} /*nav selected*/
	#loginPop {background-color:#FFFFFF;} /*login pop*/
	.lis,.nav, #ribbon .nav {border: none}
	#search {font-size: 19px;width: 75%}
	#backButton,
	#menuButton,
	#userid img {display: block}
	.row div {float:none;display:block}
	.wrapper * {-webkit-appearance: textfield;padding:0}
	#actions {width:100%}
	#compose, #delete, #update, #link {float:right}
	#search {float:left}
	#menuButton {float:left}
	#magnify {display:none}
	#mobileCompose {display:block}
	#compose {display:none}
	#navLogin {display:block}
	.selParent {background-color:transparent}
	.selParent dt {color:#333;}
	.selParent dd {color:#808080}
	#actForm select {width:95%}
}
@media (max-width: 320px) {#loginForm {width:260px}}
@media (min-height: 800px) {
	.nav .pad {font-size:19px!important;}
	#ribbon .nav {font-size: 21px;}
	#search {font-size: 22px;}
	#wnav li {font-size: 24px;}
	.group {font-size: 19px!important;}
	dl {font-size: 20px;}
	dt {font-size: 24px}
	.actInput,.row {font-size: 20px}
	select {font-size:20px}
}
@media (prefers-color-scheme: dark) {
	body, .act, .actw, #wlis, #plis {background-color:#333437;} /*background for right header and middle content*/
	#shell, #actForm {background-color: #1E1F23; } /*background for right content */
	#actForm select {background-color:#1E1F23}
	.lis {background-color: #3E3F43;} /*search background*/
	.selParent {background-color: #2069A1; } /*list background selected*/
	.nav, .flag, #pinned select {background-color: #353944;} /*nav background*/
	#wnav li, #wnav li a, #ribbon .nav, #search {color: #B4B5B6}
	.group {color:#61687C!important}
	dt, h2 {color: #BCBDC0}
